
.display-4 {
	font-family: 'Plaster', cursive;
}
.jumbotron {
	background-color: #f48642;
}
nav {
	background-color: #e1edce
}
.main {
	padding: 10px;
	background-color: black;
}
.row {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}
.column {
	flex: 25%;
	max-width: 23%;
	margin: 10px;
}
.column img {
	vertical-align: middle;
	border: 1px solid black;
	padding: 0px;
	margin: 10px;
}
img {
	width: 100%;
}
